<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<import resource="discount.xml" />

	<bean id="auditorium1" class="com.epam.spring.hometask.domain.Auditorium">
		<property name="name" value="${auditorium1.name}" />
		<property name="numberOfSeats" value="${auditorium1.numberOfSeats}" />
		<property name="extraPayForVipSeat" value="${auditorium1.extraPayForVipSeat}" />
		<property name="vipSeats">
			<set>
				<value>${auditorium1.vipseat1}</value>
				<value>${auditorium1.vipseat2}</value>
				<value>${auditorium1.vipseat3}</value>
				<value>${auditorium1.vipseat4}</value>
			</set>
		</property>
	</bean>
	<bean id="auditorium2" class="com.epam.spring.hometask.domain.Auditorium">
		<property name="name" value="${auditorium2.name}" />
		<property name="numberOfSeats" value="${auditorium2.numberOfSeats}" />
		<property name="extraPayForVipSeat" value="${auditorium2.extraPayForVipSeat}" />
		<property name="vipSeats">
			<set>
				<value>${auditorium2.vipseat1}</value>
				<value>${auditorium2.vipseat2}</value>
				<value>${auditorium2.vipseat3}</value>
			</set>
		</property>
	</bean>
	<bean id="userService" class="com.epam.spring.hometask.service.UserService">
		<constructor-arg>
			<bean class="com.epam.spring.hometask.dao.UserDAO" />
		</constructor-arg>
		<constructor-arg>
			<bean class="com.epam.spring.hometask.console.UserCreator" />
		</constructor-arg>
	</bean>
	<bean id="eventService" class="com.epam.spring.hometask.service.EventService">
		<constructor-arg>
			<bean class="com.epam.spring.hometask.dao.EventDAO" />
		</constructor-arg>
		<constructor-arg>
			<bean class="com.epam.spring.hometask.console.EventCreator" />
		</constructor-arg>
		<constructor-arg>
			<bean class="com.epam.spring.hometask.dao.EventCounterDAO" />
		</constructor-arg>
	</bean>
	<bean id="bookingService" class="com.epam.spring.hometask.service.BookingService">
		<property name="discountService" ref="discountService" />
		<property name="ticketDesk" ref="ticketDesk" />
		<property name="pricePremiumForHighRating" value="1.2" />
	</bean>
	<bean id="ticketDesk" class="com.epam.spring.hometask.console.TicketDesk">
	</bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>resources/auditorium.properties</value>
				<value>resources/db.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
		<property name="url" value="jdbc:derby:FirstDB;create=true" />
		<property name="username" value="app" />
		<property name="password" value="app" />
	</bean>
	<bean id="myDataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres" />
        <property name="username" value="postgres" />
        <property name="password" value="1234" />
        <property name="connectionProperties">
            <props>
                <prop key="socketTimeout">10</prop>
            </props>
        </property>
   </bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.epam.spring.hometask.domain.User</value>
				<value>com.epam.spring.hometask.domain.Ticket</value>
				<value>com.epam.spring.hometask.domain.Event</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>