<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<import resource="discount.xml" />

	<bean id="auditorium1" class="com.epam.spring.hometask.domain.Auditorium">
		<property name="name" value="${auditorium1.name}" />
		<property name="numberOfSeats" value="${auditorium1.numberOfSeats}" />
		<property name="extraPayForVipSeat" value="${auditorium1.extraPayForVipSeat}" />
		<property name="vipSeats">
			<set>
				<value>${auditorium1.vipseat1}</value>
				<value>${auditorium1.vipseat2}</value>
				<value>${auditorium1.vipseat3}</value>
				<value>${auditorium1.vipseat4}</value>
			</set>
		</property>
	</bean>
	<bean id="auditorium2" class="com.epam.spring.hometask.domain.Auditorium">
		<property name="name" value="${auditorium2.name}" />
		<property name="numberOfSeats" value="${auditorium2.numberOfSeats}" />
		<property name="extraPayForVipSeat" value="${auditorium2.extraPayForVipSeat}" />
		<property name="vipSeats">
			<set>
				<value>${auditorium2.vipseat1}</value>
				<value>${auditorium2.vipseat2}</value>
				<value>${auditorium2.vipseat3}</value>
			</set>
		</property>
	</bean>
	<bean id="userService" class="com.epam.spring.hometask.service.UserService">
		<constructor-arg>
			<bean class="com.epam.spring.hometask.dao.UserDAO" />
		</constructor-arg>
		<constructor-arg>
			<bean class="com.epam.spring.hometask.console.UserCreator" />
		</constructor-arg>
	</bean>
	<bean id="eventService" class="com.epam.spring.hometask.service.EventService">
		<constructor-arg>
			<bean class="com.epam.spring.hometask.dao.EventDAO" />
		</constructor-arg>
		<constructor-arg>
			<bean class="com.epam.spring.hometask.console.EventCreator" />
		</constructor-arg>
		<constructor-arg>
			<bean class="com.epam.spring.hometask.dao.EventCounterDAO" />
		</constructor-arg>
	</bean>
	<bean id="bookingService" class="com.epam.spring.hometask.service.BookingService">
		<property name="discountService" ref="discountService" />
		<property name="ticketDesk" ref="ticketDesk" />
		<property name="pricePremiumForHighRating" value="1.2" />
	</bean>
	<bean id="ticketDesk" class="com.epam.spring.hometask.console.TicketDesk">
	</bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>resources/auditorium.properties</value>
				<value>resources/db.properties</value>
			</list>
		</property>
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- destroy-method="close" -->
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

</beans>