<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<import resource="discount.xml" />

	<bean id="auditorium1" class="com.epam.spring.hometask.domain.Auditorium">
		<property name="name" value="${auditorium1.name}" />
		<property name="numberOfSeats" value="${auditorium1.numberOfSeats}" />
		<property name="extraPayForVipSeat" value="${auditorium1.extraPayForVipSeat}" />
		<property name="vipSeats">
			<set>
				<value>${auditorium1.vipseat1}</value>
				<value>${auditorium1.vipseat2}</value>
				<value>${auditorium1.vipseat3}</value>
				<value>${auditorium1.vipseat4}</value>
			</set>
		</property>
	</bean>
	<bean id="auditorium2" class="com.epam.spring.hometask.domain.Auditorium">
		<property name="name" value="${auditorium2.name}" />
		<property name="numberOfSeats" value="${auditorium2.numberOfSeats}" />
		<property name="extraPayForVipSeat" value="${auditorium2.extraPayForVipSeat}" />
		<property name="vipSeats">
			<set>
				<value>${auditorium2.vipseat1}</value>
				<value>${auditorium2.vipseat2}</value>
				<value>${auditorium2.vipseat3}</value>
			</set>
		</property>
	</bean>
	<bean id="userService" class="com.epam.spring.hometask.service.UserService">
		<constructor-arg>
			<bean class="com.epam.spring.hometask.dao.UserDAO" />
		</constructor-arg>
		<constructor-arg>
			<bean class="com.epam.spring.hometask.console.UserCreator" />
		</constructor-arg>		
	</bean>
	<bean id="eventService" class="com.epam.spring.hometask.service.EventService">
		<constructor-arg>
			<bean class="com.epam.spring.hometask.dao.EventDAO" />
		</constructor-arg>
		<constructor-arg>
			<bean class="com.epam.spring.hometask.console.EventCreator" />
		</constructor-arg>
	</bean>
	<bean id="bookingService" class="com.epam.spring.hometask.service.BookingService">
		<property name="discountService" ref="discountService" />
		<property name="ticketDesk" ref="ticketDesk"/>
		<property name="eventService" ref="eventService" />
		<property name="pricePremiumForHighRating" value="1.2" />
	</bean>
	<bean id="ticketDesk" class="com.epam.spring.hometask.console.TicketDesk">
	</bean>
	
	<bean id="auditoriumService" class="com.epam.spring.hometask.service.AuditoriumService">
		<constructor-arg>
			<list>
				<ref bean="auditorium1" />
				<ref bean="auditorium2" />
			</list>
		</constructor-arg>
	</bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>resources/auditorium.properties</value>
			</list>
		</property>
<!-- 		<property name="ignoreResourceNotFound" value="true" />
		<property name="systemPropertiesMode" value="override " /> -->
	</bean>
<!-- 	<bean id="discountStrategy" class="com.epam.spring.hometask.service.DiscountStrategy" abstract="true">
			<property name="birthdayDiscount" value="5" />
			<property name="volumeDiscount" value="50" />
			<property name="numberOfTicketsTogetVolumeDiscount" value="10" />
		</bean>
		<bean id="discountStrategyBirthDay" class="com.epam.spring.hometask.service.DiscountStrategy" parent="discountStrategy">
			<property name="birthday" value="true" />
		</bean>
		<bean id="discountStrategyVolume" class="com.epam.spring.hometask.service.DiscountStrategy" parent="discountStrategy">
			<property name="birthday" value="false" />
		</bean>
		<bean id="discountService" class="com.epam.spring.hometask.service.DiscountService"
			depends-on="discountStrategyBirthDay, discountStrategyVolume">
			<property name="discountStrategies">
				<list>
					<ref bean="discountStrategyBirthDay" />
					<ref bean="discountStrategyVolume" />
				</list>
			</property>
		</bean> -->
</beans>